In [1]:
import pandas as pd
import numpy as np
import re

# TBD 채워 넣을 기준이 되는 데이터프레임
df_3 = pd.read_csv("challenger_3min.csv")

df_3

,gameId,blueWins,blueChamps,blueTotalGolds,blueCurrentGolds,blueTotalLevel,blueAvgLevel,blueTotalMinionKills,blueTotalJungleMinionKills,blueFirstBlood,...,redMidTowerKills,redTopTowerKills,redBotTowerKills,redInhibitor,redFirstDragon,redDragonType,redDragon,redRiftHeralds,redBaron,redFirstBaron
0,4667601010,Win,"[22, 76, 133, 111, 4]",2936,436,6,1.2,11,4,0,...,0,0,0,0,0,[],0,0,0,0
1,4666433276,Win,"[54, 432, 104, 61, 51]",2950,450,6,1.2,13,4,0,...,0,0,0,0,0,[],0,0,0,0
2,4666262683,Win,"[517, 40, 876, 24, 81]",3314,814,6,1.2,4,3,1,...,0,0,0,0,0,[],0,0,0,0
3,4666178940,Win,"[432, 62, 22, 5, 517]",2818,318,6,1.2,6,4,0,...,0,0,0,0,0,[],0,0,0,0
4,4666252180,Win,"[201, 76, 84, 22, 875]",2873,373,5,1.0,14,0,0,...,0,0,0,0,0,[],0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14173,4608073057,Win,"[126, 245, 164, 117, 202]",2960,460,6,1.2,10,5,0,...,0,0,0,0,0,[],0,0,0,0
14174,4604889457,Win,"[157, 98, 99, 61, 203]",2920,420,6,1.2,9,4,0,...,0,0,0,0,0,[],0,0,0,0
14175,4603737869,Win,"[238, 222, 43, 412, 76]",3017,517,6,1.2,12,8,0,...,0,0,0,0,0,[],0,0,0,0
14176,4603732424,Fail,"[69, 120, 51, 4, 43]",2950,450,6,1.2,9,8,0,...,0,0,0,0,0,[],0,0,0,0
14177,4602515161,Win,"[120, 157, 27, 7, 53]",3311,461,6,1.2,4,4,1,...,0,0,0,0,0,[],0,0,0,0

In [2]:
# 챔피언 이름 리스트 자료형으로 바꾸는 함수
def champ_name_to_list(df):
    for i in range(len(df)):
        df.at[i, "blueChamps"] = re.findall("\d+", df.blueChamps[i])
        df.at[i, "redChamps"] = re.findall("\d+", df.redChamps[i])

In [3]:
champ_name_to_list(df_3)

In [4]:
# 3분 데이터를 기준으로 TBD 채우는 함수
def preprocess(df, minute):
    data = pd.read_csv("{}mins/challenger_{}min.csv".format(minute, minute))
    
    tally = 0
    for i in range(len(df)):
        gameid = df.iloc[i, 0]
        if data[data.gameId == gameid] is not None:
            try:
                index = data[data.gameId == gameid].index[0]
                data.at[index, "blueWins"] = df.at[i, "blueWins"]
                data.at[index, "blueChamps"] = df.at[i, "blueChamps"]
                data.at[index, "redWins"] = df.at[i, "redWins"]
                data.at[index, "redChamps"] = df.at[i, "redChamps"]
                tally += 1

            except:
                pass

        if tally % 4000 == 0:
            print("{}개 진행완료".format(tally))

    
    data = data.replace("TBD", np.nan)
    data.dropna(inplace=True)
    data.to_csv("{}mins/challenger_{}min_modified.csv".format(minute, minute), index=False)

In [5]:
df1 = pd.read_csv("1.5mins/challenger_1.5min_modified.csv")
df2 = df_3
df3 = pd.read_csv("4.5mins/challenger_4.5min_modified.csv")
df4 = pd.read_csv("6mins/challenger_6min_modified.csv")
df5 = pd.read_csv("7.5mins/challenger_7.5min_modified.csv")
df6 = pd.read_csv("9mins/challenger_9min_modified.csv")
df7 = pd.read_csv("10.5mins/challenger_10.5min_modified.csv")
df8 = pd.read_csv("12mins/challenger_12min_modified.csv")
df9 = pd.read_csv("13.5mins/challenger_13.5min_modified.csv")
df10 = pd.read_csv("15mins/challenger_15min_modified.csv")
df11 = pd.read_csv("16.5mins/challenger_16.5min_modified.csv")
df12 = pd.read_csv("18mins/challenger_18min_modified.csv")
df13 = pd.read_csv("19.5mins/challenger_19.5min_modified.csv")
df14 = pd.read_csv("21mins/challenger_21min_modified.csv")
df15 = pd.read_csv("22.5mins/challenger_22.5min_modified.csv")
df16 = pd.read_csv("24mins/challenger_24min_modified.csv")
df17 = pd.read_csv("25.5mins/challenger_25.5min_modified.csv")
df18 = pd.read_csv("27mins/challenger_27min_modified.csv")

In [8]:
id1 = df1.gameId.unique()
common_ids = id1.tolist()

In [26]:
# df1 ~ df18까지 전부해줘야함
id2 = df18.gameId.unique()
for ids in common_ids:
    if ids not in id2:
        common_ids.remove(ids)
        
len(common_ids)

13769

In [46]:
# 모든 timestamp에서 공통된 gameid 이외의 행 제거
def delete_rows(df, name):
    remove_index = []
    for i in range(len(df)):
        if df.gameId[i] not in common_ids:
            remove_index.append(i)
    df.drop(remove_index, axis=0, inplace=True)
    df.reset_index().drop("index", axis=1)
    df.to_csv("Final Dataset/{}.csv".format(name), index=False)

In [29]:
# 데이터셋 저장
delete_rows(df1, "1.5min")
delete_rows(df2, "3min")
delete_rows(df3, "4.5min")
delete_rows(df4, "6min")
delete_rows(df5, "7.5min")
delete_rows(df6, "9min")
delete_rows(df7, "10.5min")
delete_rows(df8, "12min")
delete_rows(df9, "13.5min")
delete_rows(df10, "15min")
delete_rows(df11, "16.5min")
delete_rows(df12, "18min")
delete_rows(df13, "19.5min")
delete_rows(df14, "21min")
delete_rows(df15, "22.5min")
delete_rows(df16, "24min")
delete_rows(df17, "25.5min")
delete_rows(df18, "27min")

In [112]:
# gameid 맞는지 확인하는 용도
d1 = pd.read_csv("Final Dataset/1.5min.csv")
d2 = pd.read_csv("Final Dataset/27min.csv")
for i in range(len(d1.gameId)):
    if d1.gameId[i] != d2.gameId[i]:
        print("asdasd")